* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

#headingContainer {

    text-align: center;
    h1 {
        font-size: 90px;
        color: navy;
        margin-bottom: 1%;
        margin-top: 10px;
    }

    p {
        font-size: 32px;
    }

	a#tabs {
		 font-size: 45px;
	    text-decoration: none;
	    padding: 1.5% 2.5%;
	    margin: 2% 2% 0 2%;
	    color: navy;
	    background: #66b3ff;
	    border: 5px solid #555;
	    display: inline-block;
	}
	a#none {
		padding: 95px;
	}
}
img {
	padding: 2%;
	padding-top: 85px;
	display:none;
	width:1100px;
	margin: auto;
 }
 img#trump{
 	display: block;
 	padding-top: 45px;
 }
 ul > a{
 	display: block;
 	font-size: 32px;
 	padding-top: 4px;
 	padding-bottom: 4px;
 }

 ul > p{
 	display: block;
 	padding-top: 4px;
 	padding-bottom: 4px;
 	margin: 0;
 }
 ul {
 	display: inline-block;
 }
 
 
